.App {
  text-align: center;
  padding: 50px 0 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.header .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 -10px;
}

.navigation-list li {
  margin: 0 10px;
}

.page-content {
  border: solid 1px yellow;
}

.footer {
  background: pink;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  background: pink;
}